node_modules
.DS_Store
exercicios-web-cod3r/
.eslintrc.json
.vscode/
JavaScript_Fundamentos_Recursos.pdf
.comentario_referencial.*
exercicios-web-marcelo/cap03-funcao/Exercicios/lista_exercicios_resposta/
exercicios-web-marcelo/cap03-funcao/Exercicios/Exercícios__Javascript.pdf
exercicios-web-marcelo/cap05-Array/Exercicios/Exercicios_de_Programao_Resolucao.pdf
exercicios-web-marcelo/cap05-Array/Exercicios/Exercicios_de_Programao.pdf
