node_modules
.DS_Store
exercicios-web-cod3r/
package-lock.json
package.json
.eslintrc.json
.vscode/
JavaScript_Fundamentos_Recursos.pdf
.comentario_referencial
exercicios-web-marcelo/cap03-funcao/Exercicios/lista_exercicios_resposta/
exercicios-web-marcelo/cap03-funcao/Exercicios/Exercícios__Javascript.pdf